pandas
numpy
scikit-learn
xgboost
lightgbm
joblib
openpyxl
matplotlib
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
bcrypt==4.0.1
pandas
numpy
scikit-learn
xgboost
lightgbm
joblib
python-multipart
email-validator